html {
    font-size: 16px;
    --web-color1: rgb(104, 102, 102);
    --web-color2: rgb(56, 55, 55);
    --web-color3: rgb(201, 200, 200);
    font-family: Helvetica;
    color: var(--web-color1)
}

/* header ----------------------------------------------------- */

header {
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    font-size: 1rem;
    background-color: white;
}

.companyLogo {
    display: flex;

}

.companyLogo img {
    width: 100%;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}

.companyLogo p {
    font-size: 2rem;
    color: var(--web-color1);
    margin-top: 0;
    padding-top: 0.8rem;
}

.companyLogo span {
    color: var(--web-color2);
    font-weight: 800;
}

ul {
    display: inline-flex;
    padding-right: 1.5rem;
}

li {
    padding: 1rem;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
}


a:link {
    color: var(--web-color1);
    text-decoration: none;
}

a:visited {
    color: var(--web-color1);
}

a:hover {
    color: var(--web-color2);
    font-size: larger;
    transition: font-size 200ms linear;
}

a:active {
    color: var(--web-color1);
}



/* main ----------------------------------------------------- */

main {
    position: relative;
    top: 4rem;
}

.bannerBox {
    display: inline-flex;
    justify-content: center;
    background-color: var(--web-color3);
    width: 100%;
}

.bannerPic {
    width: 60%;
}

.bannerPic img {
    width: 90%;
    padding: 2rem;
}


.bannerMsg {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 40%;
    padding: 5% 1.5rem 10% 3rem;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    color: var(--web-color2);
}

button {
    display: flex;
    height: 3rem;
    background-color: var(--web-color1);
    width: 70%;
    justify-content: center;
    padding-top: 0.8rem;
    margin-top: 1rem;
    color: rgb(204, 197, 197);
}

button:hover {
    background-color: var(--web-color2);
    color: white;
    font-size: 1.05rem;
    transition: font-size 200ms ease-in-out;

}


/* section ----------------------------------------------------- */

section {
    position: relative;
    margin-top: 4rem;
}

.mainBig {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main60 {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 70%;
    padding-top: 1rem;
}

.guyReading {
    width: 100%;

}


.guyReading img {
    width: 90%;

}

.caption {
    width: 85%;
    height: 30%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main40 {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.right {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.topic h2 {
    font-size: 1.5rem;
    color: var(--web-color2);
}



.smallPics {
    width: 40%;
}

.smallPics img {
    width: 100%;
    padding: 0.5rem;
}

.smallMsgs {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;

}

.caption h2 {
    color: var(--web-color2);
    font-size: 2rem;
}

.readMore a {
    color: rgb(59, 59, 255);
}

.orientation:hover {
    background-color: var(--web-color3);
}

.campus:hover {
    background-color: var(--web-color3);
}

.oliver:hover {
    background-color: var(--web-color3);
}

/* feature ----------------------------------------------------- */

.featureBig {
    display: flex;
    flex-direction: column;
    background-color: var(--web-color3);
    width: 100%;
}

.start {
    text-align: center;
    font-size: 1.5rem;
    color: var(--web-color2);
}

.feature1,
.feature2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.indivBox {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 1rem 1rem 0;
    background-color: white;
}

.indivBox img {
    width: 100%;

}

.nameOfCourse,
.course,
.courseInfo {
    padding: 0 1rem;
}

.nameOfCourse h2 {
    font-size: 1.5rem;
    color: var(--web-color2);
}

@media only screen and (min-width: 850px) {

    .mobile {
        display: none;
    }
}

/* section ----------------------------------------------------- */

.thesisExhibit {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.exhibitTitle h1 {
    font-size: 2rem;
    text-align: center;
}

.exhibit {
    display: flex;
    flex-direction: row;
}

.vidArea {
    width: 55%;
}

/* to make a responsive youtube embed ------- */
.actualVid {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.actualVid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* to make a responsive youtube embed ------- */
.miniFeatures {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 1rem;
}

.minifeature {
    display: flex;
    flex-direction: row;

}

.minifeature:hover {
    background-color: var(--web-color3);
}

.miniFeat1 {
    width: 30%;
    overflow: hidden;
}

.miniFeatDescp {
    width: 70%;
}

.miniFeat1 img {
    width: 90%;
    padding: 0.5rem;
}

.miniFeatBoxes {
    padding-left: 1rem;
}

.miniFeatBoxes h2,
.reimagine h2 {
    font-size: 1.5rem;
    color: var(--web-color2);
}

/* footer ----------------------------------------------------- */

footer {
    display: inline-flex;
    margin-top: 1rem;
    border-top: 1px solid var(--web-color3);
    width: 100%;
    justify-content: space-between;
}

.copyRight {
    padding-left: 2rem;
}

/* mobile screens ----------------------------------------------------- */

@media only screen and (min-width: 320px) and (max-width: 850px) {

    .desktop {
        display: none;
    }

    /* header ------- */
    .mobileHeader {
        display: flex;
        justify-content: space-around;
    }

    .mobileHeader img {
        width: 90%;
        padding: 0.5rem;
    }

    /* main ------- */
    .bannerBox {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .bannerPic {
        width: 100%;

    }


    .bannerPic img {
        width: 100%;
        padding: 0;
    }

    .bannerMsg {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 0 1rem 0;
        text-align: center;
    }

    .banner h1 {
        font-size: 2rem;
    }

    button {

        margin: 0 5%;
        width: 90%;
    }

    .button {}

    /* section mainSmall ------- */

    .main40,
    .right,
    .smallPics,
    .smallMsgs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .smallPics img {
        padding: 0;
        width: 100%;
    }

    .smallMsgs {
        width: 80%;
    }

    .topic h2 {
        margin: 1rem 0 0 0;
    }

    .readMore {
        padding-bottom: 1rem;
    }

    /* feature ------- */


    .mobileFeatBox1 {
        text-align: center;
        border-top: 1px solid gray;
    }

    .mobileFeatBox1 h1 {
        font-size: 2rem;
    }

    .mobileFeatBoxes {
        height: 4rem;
        background-color: var(--web-color3);
        margin: 0.5rem;
    }

    .mobileFeatBoxes:hover {
        background-color: var(--web-color1);
        color: white;
    }

    .mobileFeatBoxes h2 {
        padding: 1rem 0 0 2rem;
        color: var(--web-color2);
        margin: 0;
    }

    /* Section thesisExhibit ------- */

    /* to make a responsive youtube embed ------- */
    .exhibitMobile {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;
    }

    .exhibitMobile iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* to make a responsive youtube embed ------- */

    .copyRight {
        text-align: center;
        margin: 0;
        width: 100%;
        padding: 0;
    }


}